@import "../vars.less";
@import "./form.less";
@import "./tabs.less";
@import "./editor.less";
@import "./output.less";

* {
  box-sizing: border-box;
}

.container {
  padding: 100px;
  background: #202122;
}

.debugger-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.debugger-header-title {
  min-width: 70%;
  color: #fff;

  h2 {
    margin-bottom: 10px;
  }
}

.debugger-header-key {
  img {
    display: block;
  }
}

#debugger {
  display: none;
}

#debugger-screen-size-error-message {
  display: block;
}

#debugger-error-message.hidden + #debugger-screen-size-error-message {
  display: block;
}

#debugger-error-message + #debugger-screen-size-error-message {
  display: none;
}

@media (min-width: 820px) {
  #debugger {
    display: block;
  }

  #debugger-screen-size-error-message,
  #debugger-error-message.hidden + #debugger-screen-size-error-message {
    display: none;
  }
}
