@import "../vars.less";
@import "./form.less";
@import "./tabs.less";
@import "./editor.less";
@import "./output.less";

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.container {
  padding: 100px;
  background: #202122;
}
