@import "header.less";
@import "hero.less";

@font-color-gray: #9B9B9B;

html {
  background-color: black;
  color: @font-color-gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

body {
  width: 85%;
  margin: 3em auto;
}

a {
  text-decoration: none;
  color: @font-color-gray;
}

