.header-container {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;

  .header-left {
    display: flex;
    flex-grow: 1;

    .header-crafted-by-container {
      display: flex;
    }
  }

  .header-right {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;

    .header-nav-item {
      text-transform: uppercase;
      margin: 0 3ch;
    }
  }
}

