// Fonts
@font-size: 11pt;
@font-color-gray: #9B9B9B;
@font-weight-normal: 300;
@font-weight-bold: 400;
@letter-spacing: 1px;

// Buttons
@button-dark-border-color: #595B5C;
@button-colorful-background-color: #D43AFF;
