mixin footer-browser-status-element(icon, name)
  .footer-browser-status
    img(src=icon, alt='browser logo')
    span= name

.footer-container
  .footer-browser-status-container
    .footer-browser-status-text-container
      .footer-browser-status-text-title
        img(src='/img/question-circle.svg', alt='question icon')
        h4 Browser Status
      p.
        Web Authentication is only partially included in Chrome 67, Firefox 60, and Edge build 17723 or newer versions.
    .footer-browser-icons-container
      +footer-browser-status-element('/img/firefox-logo.png', 'Firefox 60')
      +footer-browser-status-element('/img/chrome-logo.png', 'Chrome 67')
      +footer-browser-status-element('/img/edge-logo.png', 'Edge 17723')

  .footer-branding-container
    .footer-branding-left
      a.footer-crafted-by-container(href='https://auth0.com')
        span Crafted by
        img(src='/img/crafted-by-auth0-logo-color.svg', alt='auth0 logo')
        span.auth0 Auth0
      span.footer-copyright.
        © 2018 Auth0 Inc. All Rights Reserved.
    img(src='/img/webauthn-logo-no-text.svg', alt='webauthn logo')
    a.footer-branding-right(href='https://twitter.com/intent/tweet?text=Check%20out%20https%3A%2F%2Fwebaut.hn%20and%20learn%20what%20Web%20Authentication%20is%20all%20about%21')
      img(src='/img/twitter-logo.png', alt='twitter logo')
      span Spread the word
