header.header
  .header-container
    .header-left
      .header-crafted-by-container
        a(href='https://auth0.com/developers/')
          span Crafted by
          img(src='/img/logo-ft-white.svg', alt='Auth0 Logo')

    .header-right
      .header-nav-item(class=(page === "tutorial" ? "active" : undefined))
        a(href='/') Tutorial
      .header-nav-item(class=(page === "introduction" ? "active" : undefined))
        a(href='/introduction') Information
      .header-nav-item(class=(page === "debugger" ? "active" : undefined))
        a(href='/debugger') debugger
