.hero-container
  .hero-logo
    img(src='/img/webauthn-logo.svg', alt='WebAuthn Logo')
  h3.hero-subtitle.subtitle.
    Web Authentication is a new standard enabling the creation and use of strong, attested, scoped, public key-based credentials by web applications, for the purpose of strongly authenticating users using hardware authenticators.
  .hero-buttons-container
    a(href="/introduction" class="button-dark" data-learn-more) Learn more
    //- button.button-colorful Try the debugger
