doctype html
html(lang='en')
  head
    block meta
      title An introduction to WebAuthn
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='author', content='auth0.com')
      meta(name='description', content='Learn more about the WebAuthn spec, that enables public key-based credentials in the browser for securely authenticating users using hardware authenticators.')

      meta(property="og:title" content="An introduction to WebAuthn")
      meta(property="og:site_name" content="An introduction to WebAuthn")
      meta(property="og:url" content="https://webauthn.me/introduction")
      meta(property="og:image" content="https://cdn.auth0.com/blog/webauthn:card.png")
      meta(property="og:description" content="Learn more about the WebAuthn spec, that enables public key-based credentials in the browser for securely authenticating users using hardware authenticators.")
      meta(property="og:type" content="website")

      meta(name="twitter:site" content="@auth0")
      meta(name="twitter:creator" content="@auth0")
      meta(name="twitter:title" content="An introduction to WebAuthn")
      meta(name="twitter:url" content="https://webauthn.me/introduction")
      meta(name="twitter:description" content="Learn more about the WebAuthn spec, that enables public key-based credentials in the browser for securely authenticating users using hardware authenticators.")
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:image" content="https://cdn.auth0.com/blog/webauthn:card.png")
      meta(name="twitter:image:height" content="512")
      meta(name="twitter:image:width" content="1024")

    block stylesheets
      link(rel='stylesheet', href='css/bulma.min.css', type='text/css', media='all')
    link(rel='prefetch', href='/index.html')

  body

    include navbar.pug
    .container
      section.section
        .content
          include:markdown-it(html) introduction.markdown

    // Main script
    //script(src="js/index.js")

    // GDPR cookie banner
    script(src="https://cdn.cookielaw.org/consent/c1198aef-6105-4bf5-9af7-ab5b543482e0.js")
    script(type="text/javascript").
      function OptanonWrapper() { }
