nav.navbar(role='navigation').is-dark
  .navbar-brand
    .navbar-item.is-size-5.has-text-weight-bold WEBAUTHN POC
  .navbar-menu
    .navbar-start
    .navbar-end
      a.navbar-item Debugger
      a.navbar-item Introduction