nav.navbar(role='navigation').is-dark
  .navbar-brand
    a.navbar-item.is-size-5.has-text-weight-bold(href='/') WEBAUTHN POC
  .navbar-menu
    .navbar-start
    .navbar-end
      a.navbar-item(href='/tutorial.html') Tutorial
      a.navbar-item(href='/index.html#debugger') Debugger
      a.navbar-item(href='/introduction.html') Introduction
