section#top.hero.is-light
  .hero-body
    .container
      h1.title Web Authentication
      p.is-size-5.
        Web Authentication is a new standard to enable strong, easy to use
        authentication on the web. It relies on powerful technologies such
        as the Credentials Management API, public-key cryptography, and
        hardware tokens. It is supported by major browsers like Chrome,
        Firefox and Edge.
