extends ../layout.pug

block stylesheets
  link(rel='stylesheet', href='/css/browser-support.css', type='text/css', media='all')

block variables
  - var page="browser-support"

block content
  .broser-support-container
      h2 Browser support
      p Browser support for WebAuthN is quickly improving. You can find an overview of both platform and external authenticators on this page.

      h3 Platform Authenticators
      p Platform authenticators are built into your devices like computers and smartphone. They can often be unlocked using biometrics, a finger print with Touch ID, or your face with Windows Hello or Face ID.
      table
        thead
          th
          th Android 7+
          th iOS 14+
          th 
            | Windows 10 
            span.small (with Windows Hello)
          th macOS Catalina
          th macOS Big Sur
        tbody 
          tr 
            td Chrome
            td.y Yes
            td No
            td.y Yes
            td.y Yes
            td.y Yes
          tr
            td Safari
            td N/A
            td.y Yes
            td N/A
            td No
            td.y Yes
          tr
            td Firefox
            td No
            td No
            td.y Yes
            td No
            td No
          tr
            td Brave
            td No
            td No
            td.y Yes
            td.y Yes
            td.y Yes
          tr
            td Edge
            td No
            td No
            td.y Yes
            td.y Yes
            td  Yes
          tr
            td Internet Explorer
            td N/A
            td N/A
            td N/A
            td N/A
            td N/A

      h3 Roaming Authenticators
      p Roaming Authenticators are separate hardware authenticators, that can be connected to your device in a number of ways. The most common ones connect trough USB, Bluetooth or NFC. These are most commonly security keys like Yubikeys or Titan Keys.
      table
        thead
          th
          th Android 7+
          th iOS 14+
          th Windows 10
          th macOS Catalina 
          th macOS Big Sur
        tbody 
          tr 
            td Chrome
            td.y Yes
            td No
            td.y Yes
            td.y Yes
            td.y Yes
          tr
            td Safari
            td N/A
            td.y Yes
            td N/A
            td.y Yes
            td.y Yes
          tr
            td Firefox
            td No
            td No
            td.y Yes
            td.y Yes
            td.y Yes
          tr
            td Brave
            td No
            td.y Yes
            td.y Yes
            td.y Yes
            td.y Yes
          tr
            td Edge
            td No
            td No
            td.y Yes
            td.y Yes
            td  Yes
          tr
            td Internet Explorer
            td N/A
            td N/A
            td N/A
            td N/A
            td N/A

      h3 Read more

      ul
        li
          a(href="https://fidoalliance.org/fido2/fido2-web-authentication-webauthn/") Fido Aliance
        li
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API#authenticatorresponse") Mozilla Developer Network
        li
          a(href="https://caniuse.com/?search=webauthn") Caniuse
