extends ../layout.pug

block stylesheets
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css', type='text/css', media='all')
  link(rel='stylesheet', href='/css/introduction.css', type='text/css', media='all')

block variables
  - var page="introduction"

block content
  .introduction-container
      include:markdown-it(html) introduction.markdown

  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-javascript.min.js")
