@import "../vars.less";
@import "browser-status.less";
@import "branding.less";

.footer-container {
  width: 100%;
  color: white;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-width) {
  .footer-container {
    padding: 0;
  }
}
