@import "../vars.less";
@import "../code.less";

.introduction-container {
  max-width: 790px;
  margin: 0 auto;

  a {
    transition: border 0.2s ease-in-out;

    border-bottom: 1px solid transparent;

    text-decoration: none;
    color: @color-blue;

    &:hover {
      border-bottom-color: @color-blue;
    }
  }
}
