include step-left.pug

.tutorial-step-2-container.tutorial-step-container
  +tutorial-step-left(2)

  .tutorial-step-content
    h1.tutorial-step-title.title Touch Your Authenticator
    .tutorial-animation-container
      object#tutorial-step-2-animation-object.tutorial-animation-object(type='image/svg+xml',
                                              data='/img/animation.svg')
