.tutorial-step-container
  .tutorial-step-left
  .tutorial-step-content
    h1.tutorial-step-title.title Your New Credential
    h4.tutorial-step-subtitle.normal.
      You have created a new credential. The rawId and the public key are all that are needed to identify you. These are meant to be passed to the relying party.

    .tutorial-animation-container

    .tutorial-step-3-data-container
      .tutorial-step-3-data-left
        h3.tutorial-step-3-data-title Your rawId
        pre.tutorial-code-container

      .tutorial-step-3-data-right
        h3.tutorial-step-3-data-title Your Public Key
        pre.tutorial-code-container

    button.tutorial-step-3-next.button Next
  