.tutorial-step-6-container.tutorial-step-container
  +tutorial-step-left(6, true)

  .tutorial-step-content
    h1.tutorial-step-title.title Login Successful

    .tutorial-animation-container
      object#tutorial-step-6-animation-object.tutorial-animation-object(type='image/svg+xml', 
                                              data='/img/animation.svg')
