.tutorial-step-container
  .tutorial-step-left
  .tutorial-step-content
    h1.tutorial-step-title.title Register Your User
    h4.tutorial-step-subtitle.normal.
      Connect your USB authenticator and complete your username
      or email address.

    .tutorial-step-1-box
      span.tutorial-step-1-name Name
      input.tutorial-step-1-input(type='text',
                                  placeholder='Username or email')
    
    button.tutorial-step-1-register.button Register

  .tutorial-animation-container
  