.tutorial-step-4-container.tutorial-step-container
  +tutorial-step-left(4)

  .tutorial-step-content
    h1.tutorial-step-title.title Authenticate With Your Credential
    h4.tutorial-step-subtitle.normal.
      Using the #[pre rawId] you can authenticate as the user you just created.

    .tutorial-step-4-data-container
      include step-4-allow-credentials.html

    button.tutorial-step-4-login.button-colorful Login

    .tutorial-animation-container
      object#tutorial-step-4-animation-object.tutorial-animation-object(type='image/svg+xml', 
                                              data='/img/animation.svg')
