include step-left.pug

.tutorial-step-2-container.tutorial-step-container
  +tutorial-step-left(2)

  .tutorial-step-content
    h1.tutorial-step-title.title Touch Your USB Authenticator
    .tutorial-animation-container
  