.tutorial-step-5-container.tutorial-step-container
  +tutorial-step-left(5)

  .tutorial-step-content
    h1.tutorial-step-title.title Touch Your Authenticator

    .tutorial-animation-container
      object#tutorial-step-5-animation-object.tutorial-animation-object(type='image/svg+xml',
                                              data='/img/animation.svg')
