#debugger-code-create
  pre.
    navigator.credentials.create({
      publicKey: {
        rp: {
          #[span#d-c-rp-id-line #[input#d-c-rp-id-cbox(type='checkbox')] id: #[input#d-c-rp-id(type='text', value='localhost')]],
          #[span#d-c-rp-name-line name: #[input#d-c-rp-name(type='text', value='test')]]
        },
        user: {
          #[span#d-c-user-id-line id: #[button#d-c-regen-uid Regenerate (binary, random)]],
          #[span#d-c-user-name-line name: #[input#d-c-user-name(type='text', value='test')]],
          #[span#d-c-user-dp-line displayName: #[input#d-c-user-dpname(type='text', value='Test User')]]
        },
        #[span#d-c-challenge-line challenge: #[button#d-c-regen-challenge Regenerate (binary, random)]],
        pubKeyCredParams: [ #[button#d-c-add-pubkey-params +]
          <span>{
            type: 'public-key',
            <span id="d-c-pubkey-alg-line">alg: <select id="d-c-pubkey-alg-select">
                                                  <option value="es256" selected>ES256 (ECDSA P-256 + SHA-256)</option>
                                                  <option value="rs256">RS256 (RSASSA + SHA-256)</option>
                                                </select></span>
          }</span>#[span#d-c-add-pubkey-params-placeholder.is-invisible]
        ],
        #[span#d-c-timeout-line timeout: #[input#d-c-timeout(type='number', value='5000')]],
        #[input#d-c-excl-creds-cbox(type='checkbox')] excludeCredentials: [{ #[button#d-c-add-excl-creds +]
          type: 'public-key',
          #[span#d-c-excl-creds-id-line id: #[button#d-c-upload-excl-creds-id Upload (binary)]#[button#d-c-upload-base64-excl-creds-id Paste (Base64)]],
          #[span#d-c-excl-creds-type-line #[input#d-c-excl-creds-type-cbox(type='checkbox')] transports: #[input#d-c-excl-creds-type-usb(type='checkbox')] 'usb' #[input#d-c-excl-creds-type-nfc(type='checkbox')] 'nfc' #[input#d-c-excl-creds-type-ble(type='checkbox')] 'ble']
        }],
        #[input#d-c-auth-sel-cbox(type='checkbox')] authenticatorSelect: {
          <span id="d-c-auth-attach-line"><input id="d-c-auth-attach-cbox" type="checkbox"> authenticatorAttachment: <select id="d-c-auth-attach-select">
                                                                                                                       <option value="platform">platform</option>
                                                                                                                       <option value="cross-platform" selected>cross-platform</option>
                                                                                                                     </select></span>,
          #[span#d-c-req-res-key-line #[input#d-c-req-res-key-cbox(type='checkbox')] requireResidentKey: #[input#d-c-req-res-key-cbox-val(type='checkbox')]],
          <span id="d-c-user-verif-line"><input id="d-c-user-verif-cbox" type="checkbox"> userVerification: <select id="d-c-user-verif-select">
                                                                                                              <option value="required">required</option>
                                                                                                              <option value="preferred" selected>preferred</option>
                                                                                                              <option value="discouraged">discouraged</option>
                                                                                                            </select></span>
        },
        <span id="d-c-attest-line"><input id="d-c-attest-cbox" type="checkbox"> attestation: <select id="d-c-attest-select">
                                                                                              <option value="none" selected>none</option>
                                                                                              <option value="indirect">indirect</option>
                                                                                              <option value="direct">direct</option>
                                                                                             </select></span>
      }
    });
    &nbsp;

