#debugger-code-get
  pre.
    navigator.credentials.get({
      publicKey: {
        #[span#d-g-challenge-line challenge: #[button#d-g-regen-challenge Regenerate (binary, random)]],
        #[span#d-g-timeout-line timeout: #[input#d-g-timeout(type='number', value='5000')]],
        #[span#d-g-rp-id-line #[input#d-g-rp-id-cbox(type='checkbox')] rpId: #[input#d-g-rp-id(type='text', value='localhost')]],
        #[input#d-g-allow-creds-cbox(type='checkbox', checked)] allowCredentials: [ #[button#d-g-add-allow-creds +]
          <span>{
            type: 'public-key',
            id: #[span#d-g-allow-creds-id] #[input#d-g-upload-allow-creds-file(type='file', style='display: none')]#[button#d-g-upload-allow-creds-id Upload (binary)]#[button#d-g-paste-base64-allow-creds-id Paste (Base64)],
            #[input#d-g-allow-creds-type-cbox(type='checkbox')] transports: #[input#d-g-allow-creds-type-usb(type='checkbox')] 'usb' #[input#d-g-allow-creds-type-nfc(type='checkbox')] 'nfc' #[input#d-g-allow-creds-type-ble(type='checkbox')] 'ble'
          }</span>#[span#d-g-allow-creds-placeholder.is-invisible]
        ],
        <span id="d-g-user-verif-line"><input id="d-g-user-verif-cbox" type="checkbox"> userVerification: <select id="d-g-user-verif-select">
                                                                                                            <option value="required">required</option>
                                                                                                            <option value="preferred" selected>preferred</option>
                                                                                                            <option value="discouraged">discouraged</option>
                                                                                                          </select></span>
      },
      <span id="d-g-mediation-line"><input id="d-g-mediation-cbox" type="checkbox"> mediation: <select id="d-g-mediation-select">
                                                                                                  <option value="silent">silent</option>
                                                                                                  <option value="optional" selected>optional</option>
                                                                                                  <option value="required">required</option>
                                                                                                </select></span>
    });
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

