section#debugger-howto.section
  .container
    h3.subtitle.is-size-4 How to use the debugger
    p 1. Make sure you are running at least Chrome 67 or Firefox 60, or the latest version of Edge.
    p 2. Insert a hardware USB token such as a YubiKey.
    p 3. Select the necessary options to register a new key on the left panel or you can leave the defaults.
    p 4. Click on "register" and then on the hardware token button.
    p 5. Inspect the results in the output panel below.
    p 6. Click on "authenticate". That last generated key is used automatically. You can upload your own keys as well.
    p 7. Inspect the results in the output panel below.
