extends ../layout.pug

block meta  
  title See your WebAuthn config in action
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='auth0.com')
  meta(name='description', content='Quickly change a WebAuthn configuration parameter, and see the change take effect in our handy debugger.')

  meta(property="og:title" content="See your WebAuthn config in action")
  meta(property="og:site_name" content="See your WebAuthn config in action")
  meta(property="og:url" content="https://webauthn.me/debugger")
  meta(property="og:image" content="https://cdn.auth0.com/blog/webauthn:card.png")
  meta(property="og:description" content="Quickly change a WebAuthn configuration parameter, and see the change take effect in our handy debugger.")
  meta(property="og:type" content="website")

  meta(name="twitter:site" content="@auth0")
  meta(name="twitter:creator" content="@auth0")
  meta(name="twitter:title" content="See your WebAuthn config in action")
  meta(name="twitter:url" content="https://webauthn.me/debugger")
  meta(name="twitter:description" content="Quickly change a WebAuthn configuration parameter, and see the change take effect in our handy debugger.")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:image" content="https://cdn.auth0.com/blog/webauthn:card.png")
  meta(name="twitter:image:height" content="512")
  meta(name="twitter:image:width" content="1024")

block stylesheets
  link(rel='stylesheet', href='/css/debugger.css', type='text/css', media='all')

block scripts
  script(src="js/debugger.js")
  
block variables
  - var page="debugger"

block content  
  section#debugger
    ul.tabs(data-tabs="debugger")
      li.tab
        a(href="#", class="active", data-tab="#debugger-register") Register
      li.tab
        a(href="#", data-tab="#debugger-authenticate") Authenticate
      li.tab.hide-mobile
        a(href="#", data-tab="#debugger-upload") Upload CBOR output
    div
      #debugger-register
        .container
          .debugger-header
            .debugger-header-title
              h2 Register New Credentials
              p Set your preferential registration settings and check them below in the output
            #debugger-auth-available-indicator.debugger-header-key
              img(src="/img/yubikey.svg" alt="Yubi key")
          
          #debugger-register-options
            include create.pug
        
        button#debugger-register-button.button.button-full Register
        
        #debugger-register-output.is-invisible
          include output.pug
      #debugger-authenticate
        .container
          .debugger-header
            .debugger-header-title
              h2 Authenticate new credentials
              p Set your preferential authentication settings and check them below in the output
            #debugger-auth-available-indicator.debugger-header-key
              img(src="/img/yubikey.svg" alt="Yubi key")
          
                    
          #debugger-authenticate-options
            include get.pug
            
        
        button#debugger-authenticate-button.button.button-full Authenticate
          
        #debugger-authenticate-output.is-invisible
          include output-authenticate.pug
      #debugger-upload
        .container(style='display: flex; flex-flow: column; align-items: center;')
          h2(style="display: block;") Upload full response
          div(style="text-align: center;")
            button#debugger-output-upload-cbor-trigger.button.button-large Upload CBOR
            input#debugger-output-upload-cbor.file-input(type='file').hidden
        
        #debugger-cbor-output.is-invisible
          include output-cbor.pug
  #debugger-error-message.hidden
    .error
      h2 Oops!
      p.intro Looks like your browser does not support the web authentication API, or it doesn't support public key-based credentials.
      p You won't be able to follow along with the interactive tutorial, or try the debugger but you can still get more information on the web authentication API.
      a(href="/introduction").button-colorful Learn more
      
  #debugger-key-modal.modal
    .modal-background
    .modal-content.has-background-light
      pre#debugger-key-modal-key Placeholder
    button#debugger-key-modal-close-button.modal-close.is-large(aria-label='close')
    
  #debugger-paste-modal.modal
    .modal-background
    .modal-header
      span Paste your content below
      button.modal-header-close-button &times;
    .modal-body
      .form-row
        input#debugger-paste-modal-input.input(type='text', placeholder='Base64 data')
      button.button.button-wide#debugger-paste-modal-button-ok OK
          
  
