section#debugger.section
  .container
    .columns
      .column
        span#debugger-auth-available-indicator.tag.is-danger
          | No authenticators available
    .columns
      #debugger-register-options.column
        .columns
          .column
            include create.pug
        .columns
          .column
            button#debugger-register-button.button Register
      #debugger-authenticate-options.column
        .columns
          .column
            include get.pug
        .columns
          .column
            button#debugger-authenticate-button.button Authenticate
    .columns
      #debugger-output.column
        span.subtitle.is-4 Output&nbsp;&nbsp;&nbsp;&nbsp;
        button#debugger-output-upload-cbor.button Upload Full Response (CBOR)
        button#debugger-output-upload-cbor.button Download (CBOR)
        button#debugger-output-upload-cbor.button Download (JSON)
        pre#debugger-output-console

#debugger-key-modal.modal
  .modal-background
  .modal-content.has-background-light
    .level
      .level-item
        pre#debugger-key-modal-key.
          Placeholder
      .level-item
        .has-text-centered
          p
            button.button#debugger-key-modal-button-dl-pem Download (PEM)
          p
            button.button#debugger-key-modal-button-dl-der Download (DER)
  button#debugger-key-modal-close-button.modal-close.is-large(aria-label='close')

#debugger-paste-modal.modal
  .modal-background
  .modal-content.has-background-light
    .level
      .level-item
        input#debugger-paste-modal-input.input(type='text', placeholder='Base64 data')
      .level-item
        button.button#debugger-paste-modal-button-ok OK
  button#debugger-paste-modal-close-button.modal-close.is-large(aria-label='close')

