#debugger-output.container.output
  
  .output-header
    h2 Output
    .output-download
      button#debugger-output-download-cbor.button.button-big Download (CBOR)
      button#debugger-output-download-json.button.button-big Download (JSON)
  
  
  .output-container
    .output-credentials
      div
        h4 signature
        #authenticate-output-signature.output-raw
      div
        h4 challenge
        #authenticate-output-challenge.output-raw
    
    #debugger-authenticate-output-console.output-console
