#debugger-output.container.output
  
  .output-header
    h2 Output
    .output-download
      button#debugger-output-download-cbor.button.button-big Download (CBOR)
      button#debugger-output-download-json.button.button-big Download (JSON)
  
  
  .output-container
    .output-credentials
      #output-rawid.output-rawid
      pre#output-public-key
    
    #debugger-output-console
  
  
//- input#debugger-output-upload-cbor.file-input(type='file')
