#debugger-output.container.output
  
  .output-header
    h2 Output
  
  .output-container
    .output-columns
      div
        h4 rawID
        #cbor-output-rawid.output-raw
      div
        h4 credentialPublicKey
        .overflow-wrapper
          pre#cbor-output-public-key
    
    #debugger-cbor-output-console.output-console
