#debugger-output.container.output
  
  .output-header
    h2 Output
    .output-download.hide-mobile
      button#debugger-output-download-cbor.button.button-big Download (CBOR)
      button#debugger-output-download-json.button.button-big Download (JSON)
  
  .output-up-warning.warning.hidden
      strong Warning: 
      | Your authenticator device does not perform a 
      strong test of user presence 
      | as defined in the 
      a(href="https://www.w3.org/TR/webauthn/#test-of-user-presence" title="WebAuthn Specification") WebAuthn Specification.
  
  .output-container
    .output-columns
      div
        h4 rawID
        #register-output-rawid.output-raw
      div
        h4 credentialPublicKey
        .overflow-wrapper
          pre#register-output-public-key
    
    #debugger-register-output-console.output-console
    
.output-container.output-more-container
  .output-columns
    div
      h4 Would you like to authenticate your credentials?
      p.output-description Now with your rawID you can authenticate.
      button.button.button-large(data-tab-trigger="debugger.#debugger-authenticate") Authenticate
    div.hide-mobile
      h4 Do you want to check your CBOR code?
      p.output-description You can make your own tests and analyze your code in our panel.
      button.button.button-large.button-clear(data-tab-trigger="debugger.#debugger-upload") Upload CBOR code
